<html>

<head>
  <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>


  <nav class="navbar navbar-expand-md ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>

    </button>



    <div class="collapse navbar-collapse " id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" data-value="" href="#">Product Name</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#testimonials">Testimonials</a>
        </li>
        <li class="nav-item">
          <a href="#features" class="nav-link">Features</a>
        </li>
        <li class="nav-item">
          <a href="#gallery" class="nav-link">Gallery</a>
        </li>
        <li class="nav-item">
          <a href="#faq" class="nav-link" data-value="faq">F.A.Q.</a>
        </li>
        <li class="nav-item">
          <a href="#contact" class="nav-link">Contact</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <p>
            <input type="button" class="btn btn-success" value="Buy Now">
          </p>
        </li>
      </ul>
    </div>
  </nav>

  <br>
  <br>

  <div class="overlay"></div>


  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Great Product Title</h1>
      <p class="lead">
        Lorem ipsum dolor sit amet,consectetur adipisicing elit, Optio,mumquam
      </p>
      <p align="center">
        <input type="button" class="btn btn-success" value="Buy Now!" />&nbsp;&nbsp;&nbsp;
        <input type="button" class="btn btn-outline-secondary" value="Free Trial">

      </p>

    </div>
  </div><br><br>

  <div class="testimonnials" id="testimonials">

    <div class="container">
      <h3 align="left">Testimonials. <small>This is what our customers are saying about us.</small></h3>

    </div>

  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">

            <p class="card-text">
              The word patented gives the reader the impression that this is something special.
        Amazon goes on to quote several percentages to show why the Paperwhite has better contrast and brilliant resolution; 
        and it provides a killer benefit: Even in bright sunlight, Paperwhite delivers clear, crisp text and images with no glare.
            </p>
            <footer class="blockquote-footer"><cite title="Source Title">Cite author</cite></footer>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">

            <p class="card-text">
              The word patented gives the reader the impression that this is something special.
        Amazon goes on to quote several percentages to show why the Paperwhite has better contrast and brilliant resolution; 
        and it provides a killer benefit: Even in bright sunlight, Paperwhite delivers clear, crisp text and images with no glare.

            </p>
            <footer class="blockquote-footer"><cite title="Source Title">Cite author</cite></footer>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">

            <p class="card-text">
              The word patented gives the reader the impression that this is something special.
        Amazon goes on to quote several percentages to show why the Paperwhite has better contrast and brilliant resolution; 
        and it provides a killer benefit: Even in bright sunlight, Paperwhite delivers clear, crisp text and images with no glare.
            </p>
            <footer class="blockquote-footer"><cite title="Source Title">Cite author</cite></footer>
          </div>
        </div>
      </div>

    </div>
    <h6 class="text-center"><small>Wanna tell us about the product?Head over to the contact form</small></h6>
    <p align="center">
      <input type="button" class="btn btn-success" value="Contact Us" />
    </p>

  </div><br><br>
  <div class="features" id="features">
    <div class="container">

      <h3 class="text-left">Features.<small>What its all about</small></h3>
      <hr>
      <h4 class="text-left">This is a feature title</h4>
      <p>
        The word patented gives the reader the impression that this is something special.
        Amazon goes on to quote several percentages to show why the Paperwhite has better contrast and brilliant resolution; 
        and it provides a killer benefit: Even in bright sunlight, Paperwhite delivers clear, crisp text and images with no glare.
      </p>

      <img src="">


      <h4 class="text-left">This is a feature title</h4>
      <p>
        The word patented gives the reader the impression that this is something special.
        Amazon goes on to quote several percentages to show why the Paperwhite has better contrast and brilliant resolution; 
        and it provides a killer benefit: Even in bright sunlight, Paperwhite delivers clear, crisp text and images with no glare.
      </p>
      <img src="../assets/vjit.jpg">

      <h4 class="text-left">This is a feature title</h4>
      <p>
        The word patented gives the reader the impression that this is something special.
        Amazon goes on to quote several percentages to show why the Paperwhite has better contrast and brilliant resolution; 
        and it provides a killer benefit: Even in bright sunlight, Paperwhite delivers clear, crisp text and images with no glare.
      </p>
      <img src="../assets/vjit.jpg">

      <h4 class="text-left">This is a feature title</h4>
      <p>
        The word patented gives the reader the impression that this is something special.
        Amazon goes on to quote several percentages to show why the Paperwhite has better contrast and brilliant resolution; 
        and it provides a killer benefit: Even in bright sunlight, Paperwhite delivers clear, crisp text and images with no glare.
      </p>
      <p> <img src="../assets/vjit.jpg"></p>


    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <span class="fas fa-search myicon"></span>
            <h5>This is a smaller feature</h5>
            <p class="card-text">

              The word patented gives the reader the impression that this is something special.
        Amazon goes on to quote several percentages to show why the Paperwhite has better contrast and brilliant resolution; 
        and it provides a killer benefit: Even in bright sunlight, Paperwhite delivers clear, crisp text and images with no glare.
            </p>
          </div>
        </div>
      </div>


      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <h5>This is a smaller feature</h5>
            <p class="card-text">
              The word patented gives the reader the impression that this is something special.
        Amazon goes on to quote several percentages to show why the Paperwhite has better contrast and brilliant resolution; 
        and it provides a killer benefit: Even in bright sunlight, Paperwhite delivers clear, crisp text and images with no glare.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5>This is a smaller feature</h5>
            <p class="card-text">
              The word patented gives the reader the impression that this is something special.
        Amazon goes on to quote several percentages to show why the Paperwhite has better contrast and brilliant resolution; 
        and it provides a killer benefit: Even in bright sunlight, Paperwhite delivers clear, crisp text and images with no glare.
            </p>
          </div>
        </div>
      </div>
    </div>


  </div>
  <hr>
  <div class="container">
    <div class="jumbotron">
      <h5 class="display-6">Subscribe now for a 30-day free trial!</h5>
      <p class="text-center">Enter your name and email below</p>
      <p class="text-center">
        <input type="text" value="name" autofocus required />&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="email" value="email address" autofocus required />&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-outline-secondary btn-lg">Subscribe</button>
      </p>
      <i>
        <p class="text-center">We will only use your email address for sending the download link</p>
      </i>
    </div>

  </div><br><br>
  <div class="gallery" id="gallery">
    <div class="container">
      <h3 class="text-left">Gallery.<small>Take a look at some application screenshots</small></h3>
      <div id="slides" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
          <li data-target="#slides" data-slide-to="0" class="active"></li>
          <li data-target="#slides" data-slide-to="1"></li>
          <li data-target="#slides" data-slide-to="2"></li>

        </ul>
        <a class="carousel-control-prev" href="#caro" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#caro" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
        <ul class="carousel-indicators">
          <li data-slide-to="0" class="active"></li>
          <li data-slide-to="1"></li>
          <li data-slide-to="2"></li>
        </ul>

      </div>
    </div>
  </div><br><br>
  <div class="faq" id="faq">

    <div class="container">
      <h3 class="text-left">Frequently Asked Questions.<small>A little Q&A required</small></h3>
      <button type="button" class="btn btn-light btn-lg btn-block">Question1
      </button>
      
      <button type="button" class="btn btn-light btn-lg btn-block">Question2</button>
      <button type="button" class="btn btn-light btn-lg btn-block">Question3</button>
    </div>
  </div><br><br>
  <div class="contact" id="contact">
    <div class="container">
      <h3>Contact Us.<small>Let's get in touch</small></h3>

      <hr>
      <div class="row">
        <div class="text-left">
          <p>To send us a message, use the contact form or the information below.</p>

          <address>
            <strong>Envato Pty Ltd</strong><br>
            121 King Street, Melbourne<br>
            Victoria 3000 Australia<br>
            <abbr title="Phone">P: </abbr>+61 3 8376 6284
          </address>
        </div>

      </div>
      <div class="col-lg-8">
        <form action="#" class="form-horizontal" role="form" name="form1">
          <div class="form-group">
            <label for="contact-name" class="col-lg-2 control-label">Name</label>

            <div class="col-lg-10">
              <input type="text" [(ngModel)]='name' class="form-control" id="contact-name" placeholder="Name">
              <p>{{name}}</p>
            </div>
          </div>
          <div class="form-group">
            <label for="contact-email" class="col-lg-2 control-label">Email</label>

            <div class="col-lg-10">
              <input type="email" class="form-control" id="contact-email" placeholder="Email address">
            </div>
          </div>
          <div class="form-group">
            <label for="contact-website" class="col-lg-2 control-label">Website</label>

            <div class="col-lg-10">
              <input type="url" class="form-control" id="contact-website" placeholder="Website">
            </div>
          </div>
          <div class="form-group">
            <label for="contact-message" class="col-lg-2 control-label">Message</label>

            <div class="col-lg-10">
              <textarea name="contact-message" id="contact-message" class="form-control" cols="30" rows="10"
                placeholder="Message"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <button type="submit" class="btn btn-primary">Send Message</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>